<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <%data.map(item=>{%>
      <div style="border-bottom: 1px solid #999999; padding-top: 8px; padding-bottom: 8px;">
        <span style="color: #999999; font-family: Lucida Console, Monaco, Courier New; font-size: 16px; line-height: 16px;">
          <%=item.date%>:
        </span>
        <%item.artists.map((item, index, arr)=>{%>
          <a style="text-decoration: none; color: #5b7cc4; font-size: 16px; font-family: Lucida Console, Monaco, Courier New; line-height: 16px;" href="<%=item.link%>"><%=item.text%></a>

          <%if(index !== arr.length - 1){%>
            <span style="color: #999999; font-family: Lucida Console, Monaco, Courier New; font-size: 16px; line-height: 16px;">
                &
              </span>
          <%}%>

        <%});%>

        <span style="color: #999999; font-family: Lucida Console, Monaco, Courier New; font-size: 16px; line-height: 16px;">
          –
        </span>
        <a style="text-decoration: none; color: #5b7cc4; font-size: 16px; font-family: Lucida Console, Monaco, Courier New; line-height: 16px;" href="<%=item.album.link%>"><%=item.album.text%></a>
      </div>
    <%});%> 

    <table style="padding-top: 50px;" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="text-align: left;">
          <a style="color: #999999; font-family: Lucida Console, Monaco, Courier New; font-size: 12px;" href="https://rymtracker.ml/user/unsubscribe/<%=user.id%>">Unsubscribe</a>
        </td>
        </tr>
    </table>
  </body>
</html>
