<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <p style="line-height: 1.5; color: #606060; font-family: Lucida Console, Monaco, Courier New; font-size: 12px;">
      Please confirm <b><%=user.email%></b> subscription <%=text%> to tracking new music releases for <b><%=user.username%></b> RYM account.
    </p>
    <p style="line-height: 1.5; color: #606060; font-family: Lucida Console, Monaco, Courier New; font-size: 12px;">
      <a style="color: #5b7cc4;" href="<%=link%>">Click here</a>
      or copy and paste the following into your browser address bar:
      <br/>
      <b><%=link%></b>
    </p>
  </body>
</html>
