<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <p style="line-height: 1.5; color: #606060; font-family: Lucida Console, Monaco, Courier New; font-size: 12px;">
      Please confirm <%=user.email%> subscription <%=text%> to tracking new music releases for <%=user.username%> RYM account.
    </p>
    
    <p style="line-height: 1.5; color: #606060; font-family: Lucida Console, Monaco, Courier New; font-size: 12px;">
      <a style="color: #5b7cc4;" href="<%=link%>">Click here</a>
      or copy and paste the following url into your browser address bar:
      <br/>
      <%=link%>
    </p>
  </body>
</html>
